{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{user.avatar(128)}}"></td>
            <td><h1>Пользователь: {{user.name}}</h1>
                {% if user.about %}<p>Несколько слов о себе: <br> {{user.about}}</p>{% endif %}
                {% if user.last_seen %}
                    <p>Дата последнего посещения: <br> {{user.last_seen}}</p>
                {% endif %}
                <p>{{user.followers.count() }} кумиров, {{user.followed.count()}} последователей. </p>

                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Редактировать профиль</a> </p>
                {% elif not current_user.is_following(user) %}
                <p><a href="{{url_for('follow',name=username) }}">Последовать за идолом! </a> </p>
                {% else %}
                <p><a href="{{url_for('follow',name=username) }}">Да пошёл он нахрен! </a> </p>
                {% endif %}
            </td>
        </tr>
    </table>

    <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
{% endblock %}